/**
 * Hide and Seek Header Styles for 
 * 
 * 1. All devices
 * 2. 0.5 seconds fade out
 *
 */

/* The 0px breakpoint will enable the plugin for all devices. */
@media screen and (min-width: 0px) {
  .hideandseek-hide-down {
    transition: visibility 0.5s, opacity 0.5s linear !important;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    height: 0px;  
  }
}