/**
 * Hide and Seek Header Styles for 
 * 
 * 1. Medium & large devices
 * 2. No fade
 *
 */

/* The Avada default breakpoint is 800px. Change as needed. */
@media screen and (min-width: 800px) {
  .hideandseek-hide-down {
    transition: visibility 0s, opacity 0s linear !important;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    height: 0px;  
  }
}